@import url('https://fontlibrary.org//face/glacial-indifference');

body {
  background-color: #f6f6f6;
}

#logo {
  height: 200px;
  width: 200px;
  float: left;
  margin-left: 60px;
  margin-bottom: 60px;
}

.left {
  margin-left: 60px;
  float: left;
  clear: both;
}

.left p {
  font-family: 'GlacialIndifferenceRegular', sans-serif;
  font-size: 95px;
  margin-bottom: 70px;
  margin-top: -50px;
}

.right {
  float: right;
}

#win {
  color: #9f0101;
}

.textBoxes h3 {
  text-align: center;
  margin-top: 40px;
  margin-left: -25px;
  padding: 15px;
  border: 8px solid #9f0101;
  font-family: 'GlacialIndifferenceRegular', sans-serif;
  font-weight: lighter;
  font-size: 40px;
  width: 800px;
}

.bold {
  font-family: 'GlacialIndifferenceRegular', sans-serif;
  font-weight: bold;
}

#joinButton {
  font-family: 'GlacialIndifferenceRegular', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #111111;
  background-color: #f6f6f6;
  border-radius: 35px;
  padding: 10px;
  border: solid 3px black;
  background-color: white;
}

#signInButton {
  background-color: white;
  font-family: 'GlacialIndifferenceRegular', sans-serif;
  color: #9f0101;
  font-size: 20px;
  font-weight: bold;
  border-radius: 35px;
  border: solid 3px #9f0101;
  padding: 10px;
  margin: 5px;
  width: 100px;
}

#buttonBorder {
  margin-top: -160px;
  margin-right: 60px;
}

