@import url('https://fontlibrary.org//face/glacial-indifference');

#logInBackground {
    background-image: url("login_background.png");
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.logInDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    background: #f6f6f6;
    border-radius: 10px;
    border: 5px solid black;
}

#logInLogo {
    height: 35%;
    width: 35%;
    margin-left: 30%;
    margin-top: -5%;
}


#logInHeader {
    font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-size: 40px;
    margin-left: 10%;
    margin-top: -10%;
}

.inputFields {
    margin-left: 10%;
    margin-top: 5%;
    height: 50px;
    width: 75%;
    border-radius: 5px;
    border: 3px solid #9f0101;
}

#email {
    clear: right;
}

#email:focus {
    width: 75%;
    height: 50px;
}

#password {
    display: block;
    -webkit-text-security: disc;
}

#password {
    width: 75%;
    height: 50px;
}

input:focus::placeholder {
    color: transparent
}

input::placeholder {
    padding: 10px;
    font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-size: 150%;
}

input:focus {
    outline: none;
    font-size: 25px;
}

#signIn {
    border-radius: 25px;
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 200px;
    padding: 10px;
    border: 3px solid black;
    background-color: white;
    font-size: 25px;
    font-family: 'GlacialIndifferenceRegular', sans-serif;
    color: #9f0101;
}

#forgotPassword {
    font-family: 'GlacialIndifferenceRegular', sans-serif;
    clear: left;
    margin-left: 44%;
}