@import url('https://fontlibrary.org//face/glacial-indifference');

#logInBackground {
    background-image: url("login_background.png");
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.logInDiv {
    position: fixed;
    height: 45%;
    width: 25%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    background: #f6f6f6;
    border-radius: 10px;
    border: 5px solid black;
}

.logInLogo {
    position: fixed;
    margin-top: 15%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    height: 50%;
    width: 45%;
}

.logInHeader {
    font-size: 40px;
    color: black;
    text-align: center;
    font-family: 'GlacialIndifferenceBold', sans-serif;
    margin-top: 30%;
}

.googleButton {
    display: block;
    margin: auto;
    margin-top: 10%;
    font-family: 'GlacialIndifferenceBold', sans-serif;
    height: 15%;
    width: 50%;
    border: solid 3px #9f0101;
    background-color: white;
    border-radius: 5px;
}
